body{
    background: linear-gradient(#7420d3 0%, #dd4c4f 40%, #7420d3 100%);
}
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
}
.profileimage{
  width: 200px;
}
.profile h2{
    color: white;
}
.profile h6{
    color: white;
    transform: translateY(-5px);
}
.biodata {
    background: linear-gradient(#fafafb 0%, #fdfcfc 40%, #05000b 100%);
}
.footer {
    background-color: #fff;
    padding-bottom: 20px;
}
.contack a {
    color: black;
    font-size: 30px;
}
.watermark {
    padding-top: 30px;
}